@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #000000;
    --global-bg-2: #031457;
    --global-bg-3: #0d0e14;
    --global-bg-4: #11131a;
    --global-bg-5: #121426;
    --global-bg-6: #16171a;
    --global-bg-7: #2934ff;
    --global-bg-8: #2934ff7f;
    --global-bg-9: #3d4043;
    --global-bg-10: #854dff;
    --global-bg-11: #8aa5ff3f;
    --global-bg-12: #8aa5ff7f;
    --global-bg-13: #ffffff;

    --global-text-1: #737478;
    --global-text-2: #8aa5ff;
    --global-text-3: #e6ecffb2;
    --global-text-4: #ffffff;
    --global-text-5: #ffffff68;

    /* Header Colors */
    --header-text-1: #fff5f5;
  }
}

@layer utilities {
  /* Global Background Colors */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .bg-global-6 {
    background-color: var(--global-bg-6);
  }
  .bg-global-7 {
    background-color: var(--global-bg-7);
  }
  .bg-global-8 {
    background-color: var(--global-bg-8);
  }
  .bg-global-9 {
    background-color: var(--global-bg-9);
  }
  .bg-global-10 {
    background-color: var(--global-bg-10);
  }
  .bg-global-11 {
    background-color: var(--global-bg-11);
  }
  .bg-global-12 {
    background-color: var(--global-bg-12);
  }
  .bg-global-13 {
    background-color: var(--global-bg-13);
  }

  /* Global Text Colors */
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }
  .text-global-5 {
    color: var(--global-text-5);
  }

  /* Header Colors */
  .text-header-1 {
    color: var(--header-text-1);
  }
}
